.ui-widget-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    filter: Alpha(Opacity=40);
}
.ui-dialog {
    z-index: 101;
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
    position: absolute;
    margin: auto;
    border-radius: 3px;
}
.ui-dialog-titlebar {
    padding: 9px 14px;
    font-size: 16px;
    font-family: Avenir-Medium;
}
.ui-dialog-content {
    padding: 10px 14px;
    font-size: 14px;
    font-family: Avenir-Book;
}
.ui-dialog-titlebar-close {
    border: none;
    background: url(../icons/Exit.svg) no-repeat;
    text-indent: -9999px;
    height: 14px;
    width: 14px;
    float: right;
    cursor: pointer;
}
#dialog-form {
    display: none;

    letter-spacing: -0.32px;
}
#dialog-form .formContent {
    display: flex;
    justify-content: center;
}
#dialog-form label {
    color: #374353;
    letter-spacing: 0;
    line-height: 28px;
}
#dialog-form .text {
    font-size: 13px;
    color: #32403C;
    letter-spacing: 0;
    width: 211px;
    height: 28px;
    padding : 5px 7px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #979797;
    opacity: 0.5;
}
#dialog-form .cpy {
    background: #00AB74;
    border-radius: 100px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 61px;
    height: 26px;
    display: inline-block;
    padding: 3px 9px 4px 14px;
    cursor: pointer;
}
#dialog-form .footer {
    margin: 19px 0 10px 0;
}
#dialog-form .footer .note {
    width: 235px;
    font-size: 11px;
    color: #32403C;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#dialog-form .footer .stop {
    font-size: 14px;
    color: #00AB74;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}
