body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    margin: 0px;

    background-color: #29303b;
    font-size: 1rem;
    font-weight: 500;
    color: #CCCCCC;
}

button {
    justify-content: center;
    
    align-items: center;
    padding: 0.2rem;
    width: 7rem;
    height: 3rem;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     margin-right: 0.3rem;
     margin-left: 0.3rem;
    font-family: sans-serif;
    font-size: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    outline-style: none;



    background-color: #ff9307;
}
button:active {
  background-color: ##b30086;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border: none;
   outline-style:none;

}



button:hover {
    border: none;
    outline-style: : none;
    background-color: #EA5455;

}

.status-wrapper {
    margin: 0.5rem;
    overflow-wrap: break-word;
    font-size: 1.5rem;
}
.start{ background-color: #1f7a1f;

}
.stop{ background-color: #b30000;

}


#clear{
	background-color: #96897f;

}

input[type="range"] {
    width: 12rem;
    height: 1.5rem;
    margin: 0.5rem;
    background: none;
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FF6600;
    border-radius: 3px;
    border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #CCCCCC;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
